<style>
    .absender {
        font-size: 0.75em;
        text-decoration: underline;
        margin-top: 140px;
        margin-bottom: -12px;
        margin-left: 25px;
    }
    .adresse {
        margin-top: 17px;
        margin-bottom: 75px;
        margin-left: 25px;
    }
    .betreff {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .rechnungsnummer {
        font-weight: bold;
    }
    .rechnungsdatum {
        padding-right: 0px;
    }
    .rechnung table {
        margin-top: 25px;
    }
    .rechnung table td {
        vertical-align: bottom;
    }
    .rechnung table td.divider {
        border-bottom: 1px solid #666;
    }
    .rechnung table td.mannschaft {
        width: 300px;
        text-align: left;
    }
    .rechnung table td.liga {
        width: 200px;
        text-align: left;
    }
    .rechnung table td.betrag {
        width: 100px;
        text-align: right;
    }
    .rechnung table td.joined {
    }
</style>

<div class="rechnungsdaten">
    <p class="absender">{{ absender }}</p>
    <p class="adresse">
        {{ empfaenger.name|raw }} <br/>
        {{ empfaenger.street }} <br/>
        {{ empfaenger.postal }} {{ empfaenger.city }} <br/>
    </p>
    <p class="betreff">
        <span class="rechnungsnummer">
        Rechnungsnummer S-{{ saison|raw }}-{{ "%03d"|format(empfaenger.id) }}
            </span>
        <span class="rechnungsdatum">
            {{  "now"|date("d.m.Y") }}
        </span>
    </p>
    <p class="rechnungsthema">
        Provison Wirt{% if empfaenger.is_aufsteller %}/Aufsteller{% endif %} Saison {{ saison|raw }}
    </p>

    {% if empfaenger.is_aufsteller -%}
        {% set summe_rechnung = empfaenger.summe_rechnung + empfaenger.summe_rechnung_aufsteller %}
    {% else %}
        {% set summe_rechnung = empfaenger.summe_rechnung %}
    {% endif %}

    <table>
        <thead>
        <tr>
            <th class="mannschaft" align="left">Mannschaft</th>
            <th class="liga" align="left">Liga</th>
            <th class="betrag" align="left">Betrag</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td colspan="3" class="divider"></td>
        </tr>
        {% for mannschaft in empfaenger.mannschaften %}
            {% if empfaenger.is_aufsteller -%}
                {% set rechnungsbetrag = mannschaft.rechnungsbetrag_spielort + mannschaft.rechnungsbetrag_aufsteller %}
            {% else %}
                {% set rechnungsbetrag = mannschaft.rechnungsbetrag_spielort %}
            {% endif %}
            <tr>
                <td class="mannschaft">{{ mannschaft.name|raw }}</td>
                <td class="liga">{{ mannschaft.liga|raw }}</td>
                <td class="betrag">{{ rechnungsbetrag|number_format(2, ',', '.') }} €</td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="3" class="divider"></td>
        </tr>
        <tr>
            <td class="joined" colspan="2">Nettobetrag</td>
            <td class="betrag">{{ summe_rechnung|number_format(2, ',', '.') }} €</td>
        </tr>
        <tr>
            <td class="joined" colspan="2">{{ MWSTSATZ }} % Mwst.</td>
            <td class="betrag">{{ (summe_rechnung * (MWSTSATZ / 100))|number_format(2, ',', '.') }} €
            </td>
        </tr>
        <tr>
            <td colspan="2" class="joined"><b>Bruttobetrag</b></td>
            <td class="betrag">
                <b>{{ (summe_rechnung * ((100+MWSTSATZ) / 100))|number_format(2, ',', '.') }}
                    €</b>
            </td>
        </tr>
        <tr>
            <td colspan="3"  class="divider"></td>
        </tr>
        </tbody>
    </table>
</div>
